@keyframes bounce {
    0%{
        display: hidden;
        transform: translateY(50%);
    }
    100%{
        display: flex;
        text-align: center;
    }
    
}

.animate-up {
    animation: bounce 1000ms infinite;
}